<h1>Crew</h1>

<div id="Buttons">
    <button data-bind="click: goBack">Go Back</button>
</div>

<table class="table">
    <thead>
        <tr><th>Name</th><th>Category</th><th>Job</th><th></th></tr>
    </thead>

    <tbody data-bind="foreach: titlePrincipals">
        <tr>
            <td id="Buttons"><button data-bind="text: name, click: function(){ $parents[0].changeNameView(nameId);}"></button></td>

            <td data-bind="text: category"></td>
            <td data-bind="text: job"></td>
        </tr>
    </tbody>
</table>




