
<h1>Comments</h1>

<div class="col-6">
    Search: <input class="form-control" data-bind="value: selectId" required />
    <button data-bind="click: showComments">Search</button>
</div>

<div data-bind="foreach: comments">
    <table class="table">
        <thead>
            <tr><th>User</th><th>Comment</th><th>Date</th><th></th></tr>
        </thead>
        <tbody data-bind="foreach: items">
            <tr>
                <td data-bind="text: username"></td>
                <td data-bind="text: content"></td>
                <td data-bind="text: timeStamp"></td>


            </tr>
        </tbody>
    </table>
</div>

<div>
    <button class="btn btn-primary" data-bind=" click:function(){changetoCommentAddView(titleId);}">Add Comments</button>
</div>

<div>
    <button class="prevNextButton" data-bind="click: showPrev, enable: enablePrev">Previous page</button>
    <button class="prevNextButton" data-bind="click: showNext, enable: enableNext">Next page</button>
</div>




