<h1>TitleEpisodes</h1>
<!--<button class="btn btn-primary" data-bind="click: searchTitle">Search for title</button>-->
<div id="Buttons">
    <button data-bind="click: goBack">Go Back</button>
</div>
<table class="table">
    <thead>
        <tr><th>titleId</th><th>seasonNumber</th><th>episodeNumber</th><th></th></tr>
    </thead>
    <tbody data-bind="foreach: episodes">
        <tr>
            <td data-bind="text: id"></td>
            <td data-bind="text: seasonNumber"></td>
            <td data-bind="text: episodeNumber"></td>
        </tr>
    </tbody>

</table>

<div id="Buttons">

    <button data-bind="click: showPrev, enable: enablePrev">Previous page</button>
</div>
<div id="Buttons">
    <button data-bind="click: showNext, enable: enableNext">Next page</button>
</div>






















<!-- <button class="btn btn-primary" data-bind="click: create">Add titleEpisode</button>


<table class="table">
    <thead>
        <tr><th>1</th><th>2</th><th>3</th><th></th></tr>
    </thead>
    <tbody data-bind="foreach: titleEpisodes">
        <tr>
            <td data-bind="text: 1"></td>
            <td data-bind="text: 2"></td>
            <td data-bind="text: 3"></td>
            <td><button class="btn btn-danger btn-sm" data-bind="click: $parent.del">Del</button></td>
        </tr>
    </tbody>
</table>
    -->
