/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}
.hidden {
  display: none
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;


}


.table, .table tbody, .table tr, table td {
    display: block;
    width: 100%;
    vertical-align: top;
}
    body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  

}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.prevNextButton{
    margin: 8px;
    padding: 5px;
    border-radius: 0.25rem;
}
.searchButton {
    margin: 8px;
    padding: 2px;
    border-radius: 0.25rem;
}


#loginButton {
    display: flex;
    flex-direction: row-reverse;
    }

    #loginButton button {
        background: none;
        color: #ffa260;
        border: 2px solid;
        padding: .65em 1.2em;
        margin-bottom: 1em;
        font-size: 1em;
        transition: all 0.2s;
        background-color: #151b29;
    }
    #loginButton button:hover {
        border-color: #f1f15c;
        color: white;
        box-shadow: 0 0.5em 0.5em -0.4em #f1f15c;
        transform: translateY(0.25em);
        cursor: pointer;
    }

    @media (max-width: 550px){
       
        .container-fluid .table thead{
            display: none;
        }
    
        .table tr{
            margin-bottom: 32px;
        }


    }



.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* The actual popup */
    .popup .popuptext {
        visibility: hidden;
        width: 160px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 8px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -80px;
    }

        /* Popup arrow */
        .popup .popuptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

    /* Toggle this class - hide and show the popup */
    .popup .show {
        visibility: visible;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
    }
    /*bruger vi ikke*/

    .popup .hide {
        visibility: hidden;
        -webkit-animation: fadeOut 1s;
        animation: fadeOut 1s;
    }

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

