
<h1>Search History</h1>

<div>
    <button data-bind="click: clearSearchHistory">Clear history</button>
</div>

<div data-bind="foreach: searchHistory">
    <table class="table">
        <thead>
            <tr><th>Search Input</th><th>Timestamp</th><th></th></tr>
        </thead>
        <tbody data-bind="foreach: items">
            <tr>
                <td data-bind="text: searchInput"></td>
                <td data-bind="text: timeStamp"></td>
            </tr>
        </tbody>
    </table>
</div>


<div>
    <button class="prevNextButton" data-bind="click: showPrev, enable: enablePrev">Previous page</button>
    <button class="prevNextButton" data-bind="click: showNext, enable: enableNext">Next page</button>
</div>


