

<h1 data-bind="text: name"></h1>
<hr />
<div id="Buttons">
    <button data-bind="click: goBack">Go Back</button>
</div>
<table class="table">
    <thead>
        <tr><th>titleId</th><th>character</th><th></th></tr>
    </thead>
    <tbody data-bind="foreach: listPlay">
        <tr>
            <td data-bind="text: titleId"></td>
            <td data-bind="text: character"></td>
        </tr>
    </tbody>


    <div id="Buttons">
        <button class="prevNextButton" data-bind="click: showPrev, enable: enablePrev">Previous page</button>
        <button class="prevNextButton" data-bind="click: showNext, enable: enableNext">Next page</button>
    </div>






