<h1>Bookmarks</h1>
   
<hr />

<script>
    if (checkLogin()) {
        <p>You are not logged in yet!</p>
        console.log("hejsaaaa");
    }

    
</script>

<p id="hideWhenLoggedIn"> You are not logged in yet!</p>

<div id="showWhenLoggedIn">
    <table class="table">
        <thead>
            <tr><th>Id</th><th>Timestamp</th><th></th></tr>
        </thead>
        <tbody data-bind="foreach: bookmarks">
            <tr>
                <td data-bind="text: titleId"></td>
                <td data-bind="text: primaryTitle"></td>
            </tr>
        </tbody>
    </table>

    <div  id="Buttons">
        <button class="prevNextButton" data-bind="click: showPrev, enable: enablePrev">Previous page</button>
        <button class="prevNextButton" data-bind="click: showNext, enable: enableNext">Next page</button>
    </div>

</div>





