
<h1>Titles</h1>

<div class="col-6">
    Search: <input class="form-control" data-bind="value: selectId" required />
    <button data-bind="click: searchTitleBasics">Search</button>
</div>
<div>
 Page size: <select data-bind="options: pageSize, selectedOptions: selectedPageSize">  </select>
</div>
<div data-bind="foreach: titleBasics">
    <table class="table">
        <thead>
            <tr><th>Id</th><th>Primary Title</th><th>Release Year</th><th></th></tr>
        </thead>
        <tbody data-bind="foreach: items">
            <tr>
                <td data-bind="text: id"></td>
                <td data-bind="text: primaryTitle"></td>
                <td data-bind="text: startYear"></td>
                <td><button class="btn btn-primary" data-bind="click: $parents[1].commentSection">Comments</button></td>
            </tr>
        </tbody>
    </table>
</div>


<div>
    <button data-bind="click: showPrev, enable: enablePrev">Previous page</button>
</div>
<div>
    <button data-bind="click: showNext, enable: enableNext">Next page</button>
</div>




