
<h1>Titles</h1>

<div class="col-6">
    Search: <input class="form-control" data-bind="value: selectId" required />
    <button class="searchButton" data-bind="click: searchTitleBasics">Search</button>
</div>
<div>
    Page size: <select data-bind="options: pageSize, selectedOptions: selectedPageSize">  </select>
</div>
<div data-bind="foreach: titleBasics">
    <table class="table">
        <thead>
            <tr><th>Primary Title</th><th>Release Year</th><th>Rating</th><th></th></tr>
        </thead>
        <tbody data-bind="foreach: items">
            <tr>
                <td><button data-bind="text: primaryTitle, click: function(){ $parents[1].changeSingleView(id);}"></button></td>
                <td data-bind="text: startYear"></td>
                <td data-bind="text: avgRating"></td>
                <td><button id="showWhenLoggedIn" class="btn btn-primary" data-bind="click: function(){$parents[1].toggleBookmark(id)}">Bookmark</button></td>

            </tr>
        </tbody>
    </table>
</div>


<div>
    <button class="prevNextButton" data-bind="click: showPrev, enable: enablePrev">Previous page</button>
    <button class="prevNextButton" data-bind="click: showNext, enable: enableNext">Next page</button>
</div>

 



