<div data-bind="with: titleBasic, as: 't'">
    <h1 data-bind="text: t.primaryTitle"></h1>
    <span data-bind="text: t.titleType"></span>
    <span data-bind="text: t.runtime"></span> <span>minutes</span>
</div>
<

<div>
    <table class="table">
        <thead>
            <tr><th></th><th>Primary Title</th><th>Release Year</th><th>Rating</th><th></th></tr>
        </thead>
        <tbody data-bind="with: titleBasic, as: 't'">
            <tr>
                <td><img data-bind="attr: { src: t.poster, alt: 'here is picture' }"></td>
                <td data-bind="text: t.primaryTitle"></td>
                <td data-bind="text: t.startYear"></td>
                <td data-bind="text: t.avgRating"></td>
                <td> <button class="btn btn-primary" data-bind=" click:function(){$parents[0].changetoCommentView(t.id);}">Comments</button></td>

                <!--<td><button class="btn btn-primary" data-bind="click: commentSection">Comments</button></td>-->
            </tr>

        </tbody>
    </table>
</div>

<div>
    <!-- man kan snyde ved at skrive i text feltet    OOOOOOOOOOGGG    vi kan ikke sende et tal forei det bliver string (det skal være int) skal fixes i backend-->
    <input type="range" data-bind="value: setRating, valueUpdate: 'input'" min="1" max="10" />
    <input type="number" data-bind="value: setRating" min="1" max="10" />
    <button data-bind="click: add"> Rate!</button>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Information</h3>
            <table class="table">
                <thead>
                    <tr><th>Primary Title</th><th>Release year</th><th></th></tr>
                </thead>
                <tbody data-bind="with: titleBasic, as: 't'">
                    <tr>
                        <td data-bind="text: t.primaryTitle"></td>
                        <td data-bind="text: t.startYear"></td>
                </tbody>
            </table>
        </div>
        <div class="col-sm-4">
            <h3>Column 2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
        <div class="col-sm-4">
            <h3>Column 3</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
    </div>
</div>

