<div data-bind="with: titleBasic, as: 't'">
    <h1 data-bind="text: t.primaryTitle"></h1>
    <hr>
    <div id="Buttons">
        <button class="btn btn-primary" data-bind=" click:function(){$parents[0].addBookmark(t.id);}">Bookmark</button>
    </div>
</div>


<div>
    <input type="range" data-bind="value: setRating, valueUpdate: 'input'" min="1" max="10" />
    <input type="number" data-bind="value: setRating" min="1" max="10" />
    <div class="popup">
        <button data-bind="click: add"> Rate!</button>
        <span class="popuptext" id="myPopup">You voted!</span>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-4" data-bind="with: titleBasic, as: 't'">
            <img data-bind="attr: { src: t.poster, alt: 'here is picture' }">
        </div>
        <div class="col-sm-7">
            <table data-bind="with: titleBasic, as: 't'">
                <tr>
                    <th>Primary title</th>
                    <td data-bind="text: t.primaryTitle"></td>
                </tr>
                <tr>
                    <th>Release year</th>
                    <td data-bind="text: t.startYear"></td>
                </tr>
                <tr>
                    <th>Rating</th>
                    <td data-bind="text: t.avgRating"></td>
                </tr>
                <tr>
                    <th>Runtime (minutes)</th>
                    <td data-bind="text: t.runtime"></td>
                </tr>
                <tr>
                    <th>Plot</th>
                    <td data-bind="text: t.plot"></td>
                </tr>
                <tr>
                    <th>Genre</th>
                    <td data-bind="text: t.genres"></td>

                </tr>
            </table>
        </div>
    </div>

    <div id="Buttons">
        <button data-bind="click: crewView">Entire Crew</button>
    </div>


    <div id="Buttons">
        <button class="btn btn-primary" onclick="toggleComments()">Comments</button>
        </div>
        <div id="commentSection" class="hidden">
            <h3>Comments</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
    </div>



