
<h1 data-bind="text: titleBasic['primaryTitle']"></h1>

<div>
    <table class="table">
        <thead>
            <tr><th></th><th>Primary Title</th><th>Release Year</th><th>Rating</th><th></th></tr>
        </thead>
        <tbody data-bind="with: titleBasic, as: 't'">
            <tr>
                <td><img data-bind="attr: { src: t.poster, alt: 'here is picture' }"></td>
                <td data-bind="text: t.primaryTitle"></td>
                <td data-bind="text: t.startYear"></td>
                <td data-bind="text: t.avgRating"></td>
                <td> <button class="btn btn-primary" data-bind=" click:function(){$parents[0].changetoCommentView(t.id);}">Comments</button></td>

                <!--<td><button class="btn btn-primary" data-bind="click: commentSection">Comments</button></td>-->
            </tr>

        </tbody>
    </table>

    <div>
        <!-- man kan snyde ved at skrive i text feltet    OOOOOOOOOOGGG    vi kan ikke sende et tal forei det bliver string (det skal være int) skal fixes i backend-->
        <input type="range" data-bind="value: setRating, valueUpdate: 'input'" min="1" max="10" />
        <input type="number" data-bind="value: setRating" min="1" max="10" />
        <button data-bind="click: add"> Knap mig</button>
    </div>



</div>

 
