
<h1>People!</h1>
<hr />

<div class="col-6">
    Search: <input class="form-control" data-bind="value: selectId" required />
            <div id="Buttons">
                <button class="searchButton" data-bind="click: searchNameBasics">Search</button>
            </div>
</div>
<div>
    Page size: <select data-bind="options: pageSize, selectedOptions: selectedPageSize">  </select>
</div>
<div data-bind="foreach: nameBasics">
    <table class="table">
        <thead>
            <tr><th>Id</th><th>Name</th><th>Rating</th><th></th></tr>
        </thead>
        <tbody data-bind="foreach: items">
            <tr>
                <td id="Buttons" ><button data-bind="text: id, click: function(){ $parents[1].changeSingleNameView(id);}"></button></td>
                <td data-bind="text: primaryName"></td>
                <td data-bind="text: rating"></td>
            </tr>
        </tbody>
    </table>
</div>


<div id="Buttons">
    <button class="prevNextButton" data-bind="click: showPrev, enable: enablePrev">Previous page</button>
    <button class="prevNextButton" data-bind="click: showNext, enable: enableNext">Next page</button>
</div>






