
<h1 data-bind="text: nameBasic['primaryName']"></h1>

<div>
    <table class="table">
        <thead>
            </th>
        <th>Full Name</th>
        <th>Birthyear</th>
        <th>DeathYear</th>
        <th>Rating</th>
        <th>Known for</th>
        <th>In these movies</th></tr>

        </thead>
        <tbody data-bind="with: nameBasic, as: 'n'">
            <tr>
                <td data-bind="text: n.primaryName"></td>
                <td data-bind="text: n.birthYear"></td>
                <td data-bind="text: n.deathYear"></td>
                <td data-bind="text: n.rating"></td>
                <td data-bind="text: n.listKnownForTitles"></td>
                <td data-bind="text: n.listPlays"></td>

                <!-- <td data-bind="text: titleId"></td>
             <td data-bind="text: character"></td>
            -->
            </tr>


        </tbody>
    </table></div>


